src/main/mule/indigoHTTPS.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="7ecc08ea-26b5-4251-abe5-c119523f0793" >
		<http:request-connection protocol="HTTPS" host="indigo-service-https.us-e2.cloudhub.io" port="443" >
			<tls:context >
				<tls:trust-store path="truststore.ts" password="truststorepass" type="jks" insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<flow name="indigoHTTPSFlow" doc:id="f0bbd362-d231-4b55-938b-06135c205bb0" >
		<logger level="INFO" doc:name="Logger" doc:id="d78031f0-30c2-4258-8c46-4c9be4ae9188" message='"HTTPS request received.........."'/>
		<http:request method="GET" doc:name="Request" doc:id="874be05a-30cc-4fcc-9b76-ce2b2fe3ed51" config-ref="HTTP_Request_configuration1" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.source,
	to : attributes.queryParams.destination,
	depatureDate : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="7ee10933-de59-4173-8d6c-161e4e0b5d08" message="Final response from indigoAirlines....#[payload]"/>
	</flow>
</mule>
